.btn:visited, #goog-wm-sb:visited {
    color: #fff;
}
a:visited {
    color: #555;
}
.btn, #goog-wm-sb {
    display: inline-block;
    margin-bottom: 20px;
    padding: 8px 20px;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.71429;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    background-color: #000;
    color: #fff;
    border: 2px solid #000 !important;
    border-radius: 3px;
}
.btn:hover,#goog-wm-sb:hover{background-color:#fff;color:#000}

.post-teaser__infoblock {
    margin-top: 0.5em;
}
.post-teaser__reflist {
    padding-left: 1em;
}
.post-teaser__reflist:before {
    content: "\00a0-\00a0"
}
.post-teaser__status {

}
#font-page-title {
    margin-bottom: 3em;
    text-align: center;
}
a:hover {
    text-decoration: underline;
}